<%- include ('./partials/header.ejs') %>
<div class="site__desc container" style="padding: 2rem 0">
  <h1>Books that I have read</h1>
</div>
<main>
  <% if (locals.books) { %>
  <div class="books">
    <% books.map(book => { %>
    <section class="book container">
      <div class="book__img">
        <img src="<%= book.book_img_url %>" alt="" />
      </div>
      <div class="book__details">
        <div class="book__details-info">
          <h1><%= book.book_title %></h1>
          <p class="book__description"><%= book.book_desc %></p>
        </div>
        <form action="/view">
          <button class="btn-primary" name="bookId" value="<%= book.id %>">
            View More
          </button>
        </form>
      </div>
    </section>
    <% }) %>
  </div>
  <% } %>
</main>
<%- include('./partials/footer.ejs') %>
